/* algemeen */

body {
	width: 600px;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

.titel {
	font-size: 40px;
	margin-top: 60px;
	color: #FF9933;
	font-family: cursive;
}

.hoofdTitel {
	color: #FF9933;
}
 a:hover {
 	color: #FF9933
 }

.banner {
	margin-left: 19%;
	display: inline;
}

.navigatie {
	
	text-align: center;
}

.hoofdnavigatie {
	
	text-align: center;
}

.achtergrond {
	
	text-align: center;
	background-color: burlywood;
}

.imghond {
	display: inline-block;
    margin-left: 1%;
    margin-right: auto;
}

/* hondenwijzer */

.eigenaar {
	text-align: center;
	border-radius: 15px;
	height: 1.2em;
	background-color: #FF9933;
}

.eigenaar2 {
	text-align: center;
	
}

.row {
	width: 137%;
}

h4 {
	color: #FF9900;
}

.foto {
	width:170px;
	height:170px;
	float: right;

}

.fotoL {
	width:170px;
	height:170px;
	margin-right:15px;
	float: left;
}

.fotoZ {
	float: right;

}

.fotoS {
	float: right;
	list-style-type: none;
}

.site {
	color: inherit;
	text-decoration: underline;
}

.foto1 {
	float: right;
}

.site2 {
	color: inherit;
}

/* pups */ 

h5 {
	color: #FF9900;
}

.paspoort {
	margin-left: 80px;
}

.vaccinatie {
	margin-bottom: 2%;
}

/* registreren */

.registreren {
	text-align: center;
	border-radius: 12px;
	height: 4em;
	background-color: #FF9933;
	font-size: 18px;
}
